<!-- New Schedule Modal -->
<div x-cloak
     x-show="$store.schedules.editorOpen"
     x-transition:enter="transition ease-out duration-200"
     x-transition:enter-start="opacity-0"
     x-transition:enter-end="opacity-100"
     x-transition:leave="transition ease-in duration-150"
     x-transition:leave-start="opacity-100"
     x-transition:leave-end="opacity-0"
     class="fixed inset-0 z-50"
     @keydown.escape.window="$store.schedules.closeEditor()">
    <div class="absolute inset-0 bg-black/60" @click="$store.schedules.closeEditor()"></div>
    <div class="absolute inset-4 md:inset-auto md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:w-[800px] md:max-h-[80vh] bg-zinc-900 rounded-lg border border-zinc-800 flex flex-col overflow-hidden"
         x-data="scheduleEditor()"
         x-init="init()">
        {% include "partials/schedule_editor_content.html" %}
    </div>
</div>
